<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener Microservice</title>
  </head>
  <body>
    <header>
      <h1>URL Shortener Microservice</h1>
    </header>
    <div>
      <form action="api/shorturl" method="post">
        <fieldset>
          <legend>URL Shortener</legend>
          <input
            id="url_input"
            type="text"
            placeholder="ex: https://www.google.com/"
            name="url"
          />
          <input type="submit" value="POST URL" />
        </fieldset>
      </form>
    </div>
  </body>
</html>
